td, th {
    font-size: medium;
    border: solid;
    color: navy;
}

.active_page{
    color: red;
}

.button_page {
    color: white;
    border: 2px solid black;
    margin: 5px;
    padding:  20px;
    font-size: medium;
}